{
  "root": true,
  "extends": ["eslint:recommended", "plugin:markdown/recommended"],
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "configFile": true
    }
  }
}
