{
  "root": true,
  "extends": ["eslint:recommended", "plugin:markdown/recommended"],
  "plugins": ["babel"],
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
