name: dev
on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Setup
      uses: actions/setup-node@v2.1.4
      with:
        registry-url: 'https://registry.npmjs.org'
        node-version: '10.x'
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Get Yarn Cache Directory Path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Restore Yarn Cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install
      run: yarn install
    - name: Lint
      run: yarn lint
    - name: Test
      run: |
        yarn run test
        sed -i -e "s|$PWD|$SONAR_ROOT|g" coverage/lcov.info
      env:
        SONAR_ROOT: /github/workspace
    - name: Build
      run: yarn build
    - name: Sonar
      uses: sonarsource/sonarcloud-github-action@v1.5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Release
      if: github.ref == 'refs/heads/master'
      run: yarn release
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
